.table td {
    border: 2px solid black;
}

.table {
    border-collapse: collapse;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 3%;
}

.contPag .pagination a {
    display: block;
    color: black;
}

.contPag {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.comment {
    margin-left: 20px;
    color: black;
    font-family: "cursive";
}

#asd {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

#addForm label {
    display: block;
}

#addForm {
    /*display: flex;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid yellow;
    background-color: #7dc1c0;
    z-index: 2;
}

#addForm input[type='text'] {
    /*background-color: lightgray;*/
    background-color: #6ca7a6;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#addForm input[type='submit'] {
    width: 100px;
    background-color: lightgray;
    margin: 20px;
}


#addForm input[type='file'] {
    /*background-color: lightgray;*/
    /*background-color: sandybrown;*/
    display: block;
    margin: 20px;
}

#addForm a {
    margin-left: 200px;
}

#addForm textarea {
    width: 400px;
    height: 200px;
    border: 2px solid black;
    background-color: #6ca7a6;
    display: block;
    margin: 20px;
}

#addForm select {
    display: block;
    margin: 20px;
}

#addForm input[type='number'] {
    display: block;
    margin: 20px;
}

#addForm input[type='datetime-local'] {
    display: block;
    margin: 20px;
}

#shadow {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.logAlert {
    /* border: 1px solid red !important; */
    background-color: rgb(238, 140, 140);
}

.form input, .form select {
    display: block;
}



.opacit {
    opacity: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}



